

#===========================
# API-GATEWAY
#===========================
INVENTORY_APP_HOST=
INVENTORY_PORT=
BILLING_APP_HOST=
BILLING_PORT=
API_GATEWAY_PORT=

#===========================
# RABBITMQ
#===========================

RABBITMQ_DEFAULT_USER = 
  
RABBITMQ_DEFAULT_PASS = 
 
RABBITMQ_DEFAULT_VHOST = 
RABBITMQ_HOST = 
RABBITMQ_QUEUE =



BILLING_DATABASE_URL=
BILLING_PORT=

POSTGRES_USER=
POSTGRES_PASSWORD=


INVENTORY_DATABASE_URL=
